/* Reset - BEGIN */
* {margin: 0; 
	padding: 0; 
	font-size: 100%; 
	font-family: 'Open Sans', sans-serif; 
	font-weight: normal;
	box-sizing:border-box; 
    border:none;
	 outline: none; }

body {background-color: #f2aaaa;}
img {max-width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}
h2 {font-size: 1.5em; color: #333;}
p {font-size: 1em; color: #777;}

/* Cabeçalho - BEGIN */
.cabecalho {width: 100%; 
    float: left; 
    padding: 25px 5%; 
    background-color: #a6dcef;}

.logo a { width: 150px;
    margin-top: -150px;
    height: 150px;
    float: left; 
    background: url(../imgs/logo2.png) no-repeat;
    background-size: 150px;}

.legendaLogo { font-size: 20px;
    font-family: 'Leckerli One', cursive;
    color: #e36387;}

.labelPagina { font-size: 50px;
    font-family: 'Leckerli One', cursive;
    color: #e36387;
    text-align: center;
    margin-top: 70px;}

.cabecalho form {width: 30%;
    float: right;}

.cabecalho input[type="text"] {width: 90%;
    height: 40px; 
    float:left; 
    border-radius:5px 0 0 5px; }

.btn_busca {width: 10%; 
    float: right;
    height: 40px; 
    background-color: #e36387; 
    color: #fff; 
    cursor: pointer; 
    border-radius:0 5px 5px 0;}

.btn_opcoes {width: 10%;
    height: 40px;
    margin-left: 5px;
    font-family: 'Leckerli One', cursive; 
    float: right; 
    background-color: #e36387; 
    color: #fff;  
    border-radius:5px;
    cursor: pointer;}
/* Cabeçalho - END */


/* Conteúdo das páginas*/
.conteudo { 
    padding: 50px 30%; 
    text-align: center;}

.conteudo form{
    text-align: right;
}

.conteudo input[type="text"] {width:85%; 
    padding: 10px 15px; 
    margin-top: 20px;
    border-radius:5px; }
    
.conteudo input[type="password"] {width: 85%; 
    padding: 10px 15px; 
    margin-top: 20px;
    border-radius:5px; }

.conteudo button[type="submit"] {width: 30%;  
    padding: 10px 15px; 
    margin-top: 20px;
    border-radius:5px; 
    font-size: 20px;
    font-family: 'Leckerli One', cursive;
    color: #e36387;
    cursor: pointer;}

.conteudo label{font-size: 20px;
    font-family: 'Leckerli One', cursive;
    color: #fff;}

/*Páginas de feedback*/
.feedback { 
    padding: 15% 5%;
    text-align: center;}

.logoFeedback a { max-width: 150px; 
    max-height: 150px; 
    padding: 70px 75px;
    background: url(../imgs/logo2.png) no-repeat;
    background-size: 150px;}

.legendaLogoFeedback { font-size: 40px;
    font-family: 'Leckerli One', cursive;
    color: #ddf3f5;
    padding-top: 152px;}


.resultados {
    padding: 15% 15%;
    text-align: center;}

.resultados table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.resultados th{
    font-weight: bold;
    border: 1px solid #a6dcef;

  background-color: #ddf3f5;
    text-align: left;
    padding: 8px;
  }

.resultados td {
  border: 1px solid #a6dcef;
  text-align: left;
  padding: 8px;
}

.resultados tr:nth-child(even) {
  background-color: #a6dcef;
}



